.newTaskModal {
  @apply flex flex-col gap-6 bg-white p-8 rounded md:w-1/3 w-[90%] my-4 max-w-[480px];

  & label {
    @apply text-body-m text-kgray;
  }
}

:global(.dark) .newTaskModal {
  @apply bg-kgray-dark;
}

.textarea {
  @apply h-28;
  word-break: break-all;
}

.closeIcon {
  @apply w-4 h-4 bg-kgray cursor-pointer;
  mask-image: url('../../../assets/icon-cross.svg');
  mask-repeat: no-repeat;
}