.button {
  @apply flex items-center justify-center text-white font-bold py-2 px-4 rounded-full text-heading-l;
}

.normal {
  @apply cursor-pointer;
}

.small {
  @apply text-body-l;
}

button[disabled] {
  @apply cursor-not-allowed;
}

.primary {
  composes: button;
  @apply bg-primary hover:bg-primary-light;
}

.primary[disabled] {
  @apply bg-primary-light;
}

.secondary {
  composes: button;
  @apply bg-primary/10 hover:bg-primary/25 text-primary;
}

.secondary[disabled] {
  @apply bg-primary/25;
}

.destructive {
  composes: button;
  @apply bg-secondary hover:bg-secondary-light;
}

.destructive[disabled] {
  @apply bg-secondary-light;
}