.button {
  @apply items-center justify-center text-white font-bold pl-[24px] pt-[15px] pr-[25px] pb-[14px] rounded-full text-heading-m;
}

.normal {
  @apply cursor-pointer;
}

.small {
  @apply text-body-l;
}

button[disabled] {
  @apply cursor-not-allowed;
}

.primary {
  composes: button;
  @apply bg-primary hover:bg-primary-light;
}

.primary[disabled] {
  @apply bg-primary/25;
}

:global(.dark) .primary[disabled] {
  @apply text-white/25
}

.secondary {
  composes: button;
  @apply bg-primary/10 hover:bg-primary/25 text-primary;
}

:global(.dark) .secondary {
  @apply bg-white;
}

.secondary[disabled] {
  @apply bg-primary/25;
}

.destructive {
  composes: button;
  @apply bg-secondary hover:bg-secondary-light;
}

.destructive[disabled] {
  @apply bg-secondary-light;
}