
button {
  all: unset;
}

.checkboxRoot {
  @apply flex items-center justify-center shadow-lg bg-white w-4 h-4 rounded border-kgray/25 flex-shrink-0;
}

.checkboxRoot[data-state=checked],
:global(.dark) .checkboxRoot[data-state=checked]{
  @apply bg-primary;

  & ~ .checkboxLabel {
    @apply line-through text-kgray;
  }
}

:global(.dark) .checkboxRoot {
  @apply bg-kgray-dark;
}

.checkbox {
  @apply flex gap-4 items-center p-3 rounded bg-kgray-light hover:bg-primary/25 cursor-pointer;
}

:global(.dark) .checkbox {
  @apply bg-kgray-darkest hover:bg-primary/25;
}

.checkbox .checkboxLabel {
  @apply text-body-m text-black;
}

:global(.dark) .checkbox .checkboxLabel {
  @apply text-white;
}

.indicator {
  @apply flex items-center justify-center w-[10px] h-2 bg-white;
  mask-image: url("../../assets/icon-check.svg");
  mask-repeat: no-repeat;
}